/AtomacaoNetBeans/target/
/Netbeans Projects/Automation/target/
/Netbeans Projects/Teste/nbproject/private/
/Netbeans Projects/Automacao/nbproject/private/
/Netbeans Projects/Automacao/build/
/Netbeans Projects/Automacao/dist/
